{% load cms_tags menu_tags sekizai_tags staticfiles %}
<!doctype html>
<html>
    <head>
        <title>{% page_attribute "page_title" %}</title>
          <meta name="viewport" content="width=device-width,initial-scale=1">
          <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
          <link href="favicon.ico" rel="shortcut icon">

          <!-- Google Fonts -->
          <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

          <!-- Bootstrap CSS File -->
          <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

          <!-- Libraries CSS Files -->
          <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
          <link href="{% static 'lib/animate-css/animate.min.css' %}" rel="stylesheet">
          <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
          <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700%7CRoboto:400,500,700%7CRoboto+Condensed%7CLato:400,700" rel="stylesheet" type="text/css">


          <!-- load css for cubeportfolio -->
          <link rel="stylesheet" type="text/css" href="{% static 'css/cubeportfolio.css' %}">

          <!-- Main Stylesheet File -->
          <link href="{% static 'css/style.css' %}" rel="stylesheet">
          <link href="{% static 'css/style-2.css' %}" rel="stylesheet">

        {% render_block "css" %}
    </head>
    <body>
        {% cms_toolbar %}
        <div class="container">
            <ul class="nav">
                {% block menu %}{% endblock %}
            </ul>
        </div>
        {% block content %}{% endblock content %}

          <!-- Required JavaScript Libraries -->
          <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
          <script src="{% static 'lib/bootstrap/js/bootstrap.min.js' %}"></script>
          <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
          <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
          <script src="{% static 'lib/morphext/morphext.min.js' %}"></script>
          <script src="{% static 'lib/wow/wow.min.js' %}"></script>
          <script src="{% static 'lib/stickyjs/sticky.js' %}"></script>
          <script src="{% static 'lib/easing/easing.js' %}"></script>

          <!-- load cubeportfolio -->
          <script type="text/javascript" src="{% static 'lib/cubeportfolio/jquery.cubeportfolio.js' %}"></script>

          <!-- init cubeportfolio -->
          <script type="text/javascript" src="{% static 'lib/cubeportfolio/main.js' %}"></script>

          <!-- Template Specisifc Custom Javascript File -->
          <script src="{% static 'js/custom.js' %}"></script>

          <!-- JS for My-Background & portfolio sections -->
			<script>
				$(document).ready(function () {
					size_li = $("#myList li").size();
					x=1;
					$('#myList li:lt('+x+')').show();
					$('#loadMore').click(function () {
						x= (x+1 <= size_li) ? x+1 : size_li;
						$('#myList li:lt('+x+')').show();
					});
					$('#showLess').click(function () {
						x=(x-1<0) ? 1 : x-1;
						$('#myList li').not(':lt('+x+')').hide();
					});
				});
			</script>

        {% render_block "js" %}
    </body>
</html>
