{% extends 'base.html' %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}

{% block title %}I'm Ilja Leiko{% endblock title %}

{% block content %}
    {% placeholder "Portfolio" %}
    <div class="portfolio-body">


    <div id="js-grid-masonry-projects" class="cbp cbp-l-grid-masonry-projects">

        <div class="cbp-item graphic">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x570/6b4d10" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <a href="/static/portfolio/goss.html" class="cbp-singlePage cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                            <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/2ad2f3" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Dashboard<br>by Paul Flavius Nechita">view larger</a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="ajax-masonry-projects/project1.html" class="cbp-singlePage cbp-l-grid-masonry-projects-title" rel="nofollow">BeenTo</a>
            <div class="cbp-l-grid-masonry-projects-desc">web development / web design</div>
        </div>

        <div class="cbp-item web-design logos">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x360/2dcd64" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <a href="ajax-masonry-projects/project2.html" class="cbp-singlePage cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                            <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/8d285b" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="World Clock<br>by Paul Flavius Nechita">view larger</a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="ajax-masonry-projects/project2.html" class="cbp-singlePage cbp-l-grid-masonry-projects-title" rel="nofollow">World Clock</a>
            <div class="cbp-l-grid-masonry-projects-desc">logos / web design</div>
        </div>
        <div class="cbp-item graphic logos">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x360/8ef4af" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <a href="ajax-masonry-projects/project3.html" class="cbp-singlePage cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                            <a href="http://vimeo.com/14912890" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="To-Do Dashboard<br>by Tiberiu Neamu">view video</a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="ajax-masonry-projects/project3.html" class="cbp-singlePage cbp-l-grid-masonry-projects-title" rel="nofollow">To-Do Dashboard</a>
            <div class="cbp-l-grid-masonry-projects-desc">graphic / logos</div>
        </div>
        <div class="cbp-item identity web-design">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x570/0fb6fc" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <a href="ajax-masonry-projects/project4.html" class="cbp-singlePage cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                            <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/701d46" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="WhereTO App<br>by Tiberiu Neamu">view larger</a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="ajax-masonry-projects/project5.html" class="cbp-singlePage cbp-l-grid-masonry-projects-title" rel="nofollow">WhereTO App</a>
            <div class="cbp-l-grid-masonry-projects-desc">web design / identity</div>
        </div>
        <div class="cbp-item web-design graphic">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x570/3329fb" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <a href="ajax-masonry-projects/project5.html" class="cbp-singlePage cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                            <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/f2adde" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Events and  More<br>by Tiberiu Neamu">view larger</a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="ajax-masonry-projects/project4.html" class="cbp-singlePage cbp-l-grid-masonry-projects-title" rel="nofollow">Events and More</a>
            <div class="cbp-l-grid-masonry-projects-desc">web design / graphic</div>
        </div>
        <div class="cbp-item identity web-design">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x360/0ddda1" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <a href="ajax-masonry-projects/project6.html" class="cbp-singlePage cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                            <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/6d3898" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Ski * Buddy<br>by Tiberiu Neamu">view larger</a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="ajax-masonry-projects/project6.html" class="cbp-singlePage cbp-l-grid-masonry-projects-title" rel="nofollow">Ski * Buddy</a>
            <div class="cbp-l-grid-masonry-projects-desc">identity / web design</div>
        </div>
        <div class="cbp-item graphic logos">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x360/296f2c" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <a href="ajax-masonry-projects/project7.html" class="cbp-singlePage cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                            <a href="http://scriptpie.com/cubeportfolio/img/?i=1200x900/89ca22" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Seemple* Music<br>by Tiberiu Neamu">view larger</a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="ajax-masonry-projects/project7.html" class="cbp-singlePage cbp-l-grid-masonry-projects-title" rel="nofollow">Seemple* Music</a>
            <div class="cbp-l-grid-masonry-projects-desc">graphic / logos</div>
        </div>
        <div class="cbp-item identity graphic">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x360/2cd735" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <a href="ajax-masonry-projects/project8.html" class="cbp-singlePage cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                            <a href="http://www.youtube.com/watch?v=Bu9OiDmxCrQ" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Remind~Me More<br>by Tiberiu Neamu">view video</a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="ajax-masonry-projects/project8.html" class="cbp-singlePage cbp-l-grid-masonry-projects-title" rel="nofollow">Remind~Me More</a>
            <div class="cbp-l-grid-masonry-projects-desc">identity / graphic</div>
        </div>
        <div class="cbp-item web-design graphic">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x570/0d87e0" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <a href="ajax-masonry-projects/project9.html" class="cbp-singlePage cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                            <a href="https://www.ted.com/talks/andrew_bastawrous_get_your_next_eye_exam_on_a_smartphone" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Workout Buddy<br>by Tiberiu Neamu">view video</a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="ajax-masonry-projects/project9.html" class="cbp-singlePage cbp-l-grid-masonry-projects-title" rel="nofollow">Workout Buddy</a>
            <div class="cbp-l-grid-masonry-projects-desc">web design / graphic</div>
        </div>
        <div class="cbp-item identity web-design">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x360/4730d3" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <a href="ajax-masonry-projects/project10.html" class="cbp-singlePage cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                            <a href="https://www.youtube.com/watch?v=3wbvpOIIBQA" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Bills Bills Bills<br>by Cosmin Capitanu">view video</a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="ajax-masonry-projects/project10.html" class="cbp-singlePage cbp-l-grid-masonry-projects-title" rel="nofollow">Bills Bills Bills</a>
            <div class="cbp-l-grid-masonry-projects-desc">identity / web design</div>
        </div>
        <div class="cbp-item identity logos">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x360/4b8e0b" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <a href="ajax-masonry-projects/project11.html" class="cbp-singlePage cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                            <a href="http://scriptpie.com/cubeportfolio/img/?i=video/044cd4" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Generic Apps<br>by Cosmin Capitanu">view video</a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="ajax-masonry-projects/project11.html" class="cbp-singlePage cbp-l-grid-masonry-projects-title" rel="nofollow">Generic Apps</a>
            <div class="cbp-l-grid-masonry-projects-desc">identity / logos</div>
        </div>
        <div class="cbp-item graphic web-design">
            <div class="cbp-caption">
                <div class="cbp-caption-defaultWrap">
                    <img src="http://scriptpie.com/cubeportfolio/img/?i=380x360/d4c25d" alt="">
                </div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignCenter">
                        <div class="cbp-l-caption-body">
                            <a href="ajax-masonry-projects/project12.html" class="cbp-singlePage cbp-l-caption-buttonLeft" rel="nofollow">more info</a>
                            <a href="http://vimeo.com/877053" class="cbp-lightbox cbp-l-caption-buttonRight" data-title="Speed Detector<br>by Cosmin Capitanu">view video</a>
                        </div>
                    </div>
                </div>
            </div>
            <a href="ajax-masonry-projects/project12.html" class="cbp-singlePage cbp-l-grid-masonry-projects-title" rel="nofollow">Speed Detector</a>
            <div class="cbp-l-grid-masonry-projects-desc">graphic / web design</div>
        </div>
    </div>

    <div id="js-loadMore-masonry-projects" class="cbp-l-loadMore-button">
        <a href="ajax-masonry-projects/loadMore.html" class="cbp-l-loadMore-link" rel="nofollow">
            <span class="cbp-l-loadMore-defaultText">LOAD MORE</span>
            <span class="cbp-l-loadMore-loadingText">LOADING...</span>
            <span class="cbp-l-loadMore-noMoreLoading">NO MORE WORKS</span>
        </a>
    </div>

</div>
{% endblock %}

