	<div class="aitsresumewthree" id="experience">
		<div class="container">
			<div class="aitsresumewthree-tag">
			<div class="load_more">
				<ul id="myList">
					<li class="aitsaitsresumewthreeli-1">
						<div class="l_g">
							<div class="l_g_r g_r">
								<div class="work">
									<div class="work-info">
										<div class="col-md-6 work-grid work-left">
										<div class="col-md-6 work-grid work-right">
										<div class="clearfix"> </div>
										<div class="col-md-6 work-grid work-right work-right2">
										<div class="col-md-6 work-grid work-left work-left2">

					<div class="wow fadeInUp" id="loadMore">Show More <i class="fa fa-chevron-down" aria-hidden="true"></i></div>
				<div class="wow fadeInDown" id="showLess">Show Less <i class="fa fa-chevron-up" aria-hidden="true"></i></div>