{% extends 'base.html' %}
{% load cms_tags menu_tags sekizai_tags staticfiles %}

{% block title %}I'm Ilja Leiko{% endblock title %}

{% block content %}
  <div id="preloader"></div>

<!-- Banner -->
  <section id="hero">
    <div class="hero-container">
      <div class="wow fadeIn">

        {% placeholder "Banner" %}

        <div class="actions">
          {% placeholder "Banner buttons" %}
        </div>
      </div>
    </div>
  </section>

<!-- Navigation -->
  <header id="header">
    <div class="container">
        {% placeholder "Navigation bar logo" %}
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#about">About Me</a></li>
          <li><a href="#services">Services</a></li>
          <li><a href="#background">Background</a></li>
          <li><a href="#portfolio">Portfolio</a><li>
          <li><a href="#my_system">Credo</a></li>
          <li><a href="#testimonials">Good word</a></li>
          <li><a href="#subscribe">Contacts</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

<!-- About Me -->
  <section id="about">
    {% placeholder "About Me" %}
  </section>

<!-- Services -->
  <section id="services">
    {% placeholder "Services" %}
  </section>

<!-- Contact me-->
  <section id="subscribe">
    {% placeholder "Contact me" %}
  </section>

<!-- My background -->
 <section id="background">
     <div class="aitsresumewthree" id="experience">
		<div class="container">
            <div class="load_more">
                            <ul id="myList">
                                <li class="aitsaitsresumewthreeli-1">
                                    <div class="l_g">
                                        <div class="l_g_r g_r">
                                            <div class="work">
                                                {% placeholder "Work" %}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <div class="l_g">
                                        <div class="l_g_r g_r">
                                            <div class="work">
                                                 {% placeholder "Education" %}
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
				<div class="wow fadeInUp" id="loadMore">Show More <i class="fa fa-chevron-down" aria-hidden="true"></i></div>
				<div class="wow fadeInDown" id="showLess">Show Less <i class="fa fa-chevron-up" aria-hidden="true"></i></div>
			</div>
		</div>
	</div>
 </section>

<!-- Portfolio -->
  <section id="portfolio">
    {% placeholder "Portfolio" %}
   </section>


<!-- My system -->
    <section id="my_system">
        {% placeholder "My system" %}
    </section>


<!-- A good word -->
  <section id="testimonials">
    {% placeholder "A good word" %}
  </section>


<!-- Footer -->
  <footer id="footer">
      {% static_placeholder "Footer" %}
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>


{% endblock %}