.aitsresumewthree-tag h3{
    text-align: center;
    color: #000;
    font-size: 3em;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.load_more.load_more{
    margin-top: 3em;
}

/*-- experience-starts-here --*/
.aitsresumewthree {
	position: relative;
}

.aitsresumewthree h4.title {
	width: 15%;
}

.aitsresumewthree h4.title2 {
	width: 14%;
	font-size: 1.6em;
	color: #000;
}

.aitsresumewthree {
    padding: 4em 0;
}

#myList li{
	display: none;
	list-style-type: none;
	/*--w3layouts--*/
	/*--agileits--*/
}

ul#myList {
	margin-bottom: 3em;
}

#loadMore {
	color: #000;
	font-weight: 600;
	cursor: pointer;
	padding: 10px 0;
	width: 14%;
	margin-right: 1em;
	display: inline-block;
	border: 1px solid #03C4EB;
	font-size: 1.1em;
	position: relative;
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
	text-decoration: none;
	letter-spacing: 0.5px;
}

#loadMore:hover {
	background-color: #03C4EB;
	color: #fff;
}

#showLess {
	color: #000;
	font-weight: 600;
	cursor: pointer;
	padding: 10px 0;
	width: 14%;
	margin-right: 1em;
	display: inline-block;
	border: 1px solid #03C4EB;
	font-size: 1.1em;
	position: relative;
	/*--w3layouts--*/
	/*--agileits--*/
	transition: 0.5s all ease;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
	text-decoration: none;
	letter-spacing: 0.5px;
}

#showLess:hover {
	background-color: #03C4EB;
	color: #fff;
}

.l_g:after {
	clear: both;
}

.load_more{
	text-align: center;
}

li.aitsaitsresumewthreeli-1 {
	margin-bottom: 50px;
}
/*-- Work --*/
.work-left {
	text-align: right;
	padding: 1em 13px 0 0;
}

.work-right {
	border-left: 1px solid #999;
	padding: 1em 0 2em 13px;
	text-align: left;
}

.work-info h4 {
	font-size: 1.2em;
	background:#03C4EB;
	display: inline-block;
	padding: 12px 30px;
	color: #fff;
	position: relative;
}
.work-info h4:before {
	width: 0;
	height: 0;
	position: absolute;
	content: '';
	top: 7.5px;
	right: -14px;
	border-style: solid;
	border-width: 10px 0 10px 16px;
	border-color: transparent transparent transparent #03C4EB;
}
.work-info h5 {
	font-size: 16px;
	margin-bottom: 15px;
	border: 1px solid #000;
	display: inline-block;
	padding: 10px 30px;
}

.work-info a {
	color: inherit;
}
.work-right.work-right2 {
	min-height: 185px;
	float: right;
}
.work-right.work-right2 h4:before {
	left: -14px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}

.work-info p.mini-title{
	text-align: center;
	margin-bottom: 0;
	font-weight: 300;
	font-size: 0.9em;
}

.work-info p {
	font-size: 1em;
	line-height: 30px;
}
/*-- //Work --*/
/*-- experience-ends-here --*/

/*-- responsive-starts-here --*/

/* Smartphones */
@media (max-width : 379px) {
	.work-grid.work-left {
		float: left;
		width: 50%;
		padding-left: 1%;
	}
	.work-grid.work-right {
		float: right;
		width: 50%;
	}
	.work-right.work-right2 {
		min-height: 374px;
	}
	#loadMore {
		width: 40%;
	}
	#showLess {
		width: 40%;
	}
	.work-info h5 {
		font-size: 14px;
		margin-bottom: 15px;
		border: 1px solid #000;
		display: inline-block;
		padding: 10px 10px;
		text-align: center;
	}
}

@media  (min-width: 380px)
	and (max-width : 609px) {
	.work-grid.work-left {
		float: left;
		width: 50%;
		padding-left: 5%;
	}
	.work-grid.work-right {
		float: right;
		width: 50%;
	}
	.work-right.work-right2 {
		min-height: 238px;
	}
	#loadMore {
		width: 30%;
	}
	#showLess {
		width: 30%;
	}
	.work-info h5 {
		font-size: 14px;
		margin-bottom: 15px;
		border: 1px solid #000;
		display: inline-block;
		padding: 10px 20px;
		text-align: center;
	}
}

@media  (min-width: 610px)
	and	(max-width: 767px) {
	.work-grid.work-left {
		float: left;
		width: 50%;
	}
	.work-grid.work-right {
		float: right;
		width: 50%;
	}
	.work-right.work-right2 {
		min-height: 185px;
		float: right;
	}
	#loadMore {
		width: 20%;
	}
	#showLess {
		width: 20%;
	}

	.work-info h5 {
		font-size: 14px;
		margin-bottom: 15px;
		border: 1px solid #000;
		display: inline-block;
		padding: 10px 20px;
	}
}

/* Tablets */
@media  (min-width : 768px)
	and (max-width : 1024px) {
	.work-grid.work-left {
		float: left;
		width: 50%;
	}
	.work-grid.work-right {
		float: right;
		width: 50%;
	}
	#loadMore {
		width: 21%;
		font-size: 1em;
		padding: 9px 0;
	}
	#showLess{
		width: 21%;
		font-size: 1em;
		padding: 9px 0;
	}
}

/* Desktops and laptops */
@media (min-width : 1224px) {
/* STYLES GO HERE */
}

/* Large screens */
@media (min-width : 1824px) {
/* STYLES GO HERE */
}


/*-- //responsive-ends-here --*/

